<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detprod.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!--encabezado-->

    <div class="topHeader">
        <figure class="logo">
            <img src="/images/logo.png" alt="Logo">
        </figure>
        <input type="text">
        <div class="iconosEncabezado">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user"></i>
        </div>
    </div>
    <header class="encabezado">
        <nav class="menu">
                <ul class="opcionesMenu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
        </nav>
        <figure class="carrucel">
        </figure>
    </header>

    <!--fin encabezado-->

    <div class="detprod">

        <div class="subdet1">
            <img src="" alt="">
            
        </div>
        <div class="subdet2">
            <div class="det">
            <h1 id="nombre">Nombre del producto</h1>
            <p id="prod">ID Producto XXXXXXX</p>
            <h1 id="precio">$000.000</h1>
            
            </div>

            <div class="talle">

                <h2>Talle: </h2>

                <button id="uno">XS</button>
                <button id="dos">S</button>
                <button id="tres">M</button>
                <button id="cuatro">L</button>
                <button id="cinco">XL</button>
            </div>

            <div class="carrito">
                <button>Agregar al carrito</button>
            </div>
        </div>

        <div class="subdet3">
            <h1 id="titulo">Acerca del Producto</h1>
            <p id="subtex">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nostrum voluptas illum cupiditate enim voluptates explicabo id, rem debitis. Magni ad consequatur beatae ea doloremque iusto libero, rerum soluta dolores.</p>
            <h2 id="subt">Especificaciones</h2>

            <table>
                <tbody>
                    <tr>
                        <td><h2>Género</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Materiales</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Colores</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Modelo</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Marca</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
            </table>


        </div>

    </div>
    
    <!--pie de pagina-->

    <footer class="piePagina">
        <div class="span">
            <p>ACERCA DE</p>
            <ul class="">
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Terminos y Condiciones</a></li>
            <li><a href="#">Defensa del Consumidor</a></li>
            </ul>
        </div>
        <div class="span">
            <p>AYUDA</p>
            <ul class="">
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">¿Como  comprar?</a></li>
                <li><a href="#">¿Como medir tu talle?</a></li>
                <li><a href="#">Pagos y promociones</a></li>
                <li><a href="#">Entregas</a></li>
                </ul>
        </div>
        <div class="span">
            <p>REDES SOCIALES</p>
            <ul class="">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Linkedin</a></li>
                </ul>
        </div>
        <div class="span">
            <p>CENTRO DE ATENCION AL CLIENTE </p>
            <ul class="">
                <li><a href="#">Lunes a Viernes 9 a 20 hs</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">0000-0000-0000</a></li>
                </ul>
        </div>
        <!--ul class="redesSociales">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Linkedin</a></li>
        </ul-->
    </footer>

    <!--fin e pie de pagina-->
</body>
</html>