<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicando Clase 19 - 20</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="topHeader">
        <figure class="logo">
            <img src="/images/logo.png" alt="Logo">
        </figure>
        <input type="text">
        <div class="iconosEncabezado">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user"></i>
        </div>
    </div>
    <header class="encabezado">
        <nav class="menu">
                <ul class="opcionesMenu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
        </nav>
        <figure class="carrucel">
        </figure>
    </header>
    <section >
        <div class="slider">
			<ul>
                <li>
                    <img src="/images/oferta.png">
                </li>
                <li>
                <img src="/images/oferta2.png">
                </li>
            </ul>
        </div>  
    </section>
    <h4>Lo mas vendido</h4>
    <section class="productos">
        <article class="producto">
            <img src="" alt="">
            <h4>Nombre producto</h4>
            <h5>$000.000</h5>
            <a class="boton" href="#">Ver detalle</a>
        </article>
        <article class="producto">
            <img src="" alt="">
            <h4>Nombre producto</h4>
            <h5>$000.000</h5>
            <a class="boton" href="#">Ver detalle</a>
        </article>
        <article class="producto">
            <img src="" alt="">
            <h4>Nombre producto</h4>
            <h5>$000.000</h5>
            <a class="boton" href="#">Ver detalle</a>
        </article>
    </section>
    <footer class="piePagina">
        <h3>Todos los derechos reservados</h3>
        <ul class="redesSociales">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Linkedin</a></li>
        </ul>
    </footer>
</body>
</html>


