<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<main class="formulario">
    <div class="titulo">
        <p>Registrarme</p>
    </div>
    <div class="botones">
    <div class="boton-izq">
         <ul>
            <ol>Iniciar Sesion</ol>
        </ul>   
    </div>   
    <div class="boton-der">
         <ul>
            <ol>Registrarme</ol>
         </ul>
    </div>
    </div>
        <div class="caja-datos">
            <p>Nombre</p>
             <input class="datos" type="text" name="nombres" id="nombres">
        </div>
        <div class="caja-datos">
            <p>Apellido</p>
             <input class="datos" type="text" name="apellidos" id="apellidos">
        </div>
        <div class="caja-datos">     
            <p>Email</p>      
            <input class="datos" type="email" name="email" id="email">
        </div>
        <div class="caja-datos">    
            <p>Contraseña</p>       
            <input class="datos" type="password" name="contraseña" id="contraseña">
        </div>
        <div class="caja-datos"> 
    <section>
        <input class="boton" type="submit" value="Crear mi cuenta">
    </section>
        </div>
</main>
</body>
</html>