/*CSS icono del encabezado*/
form{
    margin: auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:5px;
    border: 1px solid black;
    width: 50%;
}
.product-detail div{
    display: flex;
    margin: 20px
}

.product-detail div label{
    text-align: right;
    padding-right: 10px;
    width: 50%;

}
.product-detail div input{
    width: 40%;
}

.product-detail div button{
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}