
.caja{
  /*justify-content: center;
  align-items: center;
  flex-direction: column;*/
  padding-left: 40px;
  margin:auto;
}


.titulo{
  padding: 40px;
  margin: auto;
  text-align: center;
}
 .botonAgregar{
  background-color: green;
  font-size: 14px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
 }
.contenedorProducto{
  max-width: 80%;
  padding-left: 70px;
  margin: auto;   
}
.imgProducto{
  width: 150px;
}
.cajaDetalle{
  width: 60%;
  margin: auto;
}
.nombreProducto{
  font-size: 30px;
}
.precioProducto{
  width: 20%;
}
.cajaBotones{
  margin-left: 0;
}
button{
  width: 100px;
  max-width: 200px;
}
.botonEditar {
    background-color: chocolate;
    font-size: 14px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
  }
  .botonEliminar {
    background-color: rgb(232, 45, 45);
    font-size: 14px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {

    .cajaProducto{
      background-color: rgb(223, 214, 214);
      display: flex;
      gap: 70px;
      padding: 20px;
      margin:auto;
    }
    .imgProducto{
      width: 300px;
    }
  }