.profile-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.profile-card img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto 20px;
}

.profile-card h2 {
    font-size: 24px;
    padding: 20px;
}

.profile-card p {
    font-size: 16px;
    color: #666;
}