/*-----Aplicando css global-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;   
}
body{
    background-color: white;
}

/*------Aplicando css al main-----*/

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 100px 40px;
    gap: 1.5em;
    width: 80%;
    margin: auto;
}
.botones{
    display: flex;
    ;
}
.boton-izq{
    border: solid 1px black;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
}
.boton-der{
    border: solid 1px black;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    background-color: #4CAF50;
}
.caja-datos{
 width: 100%;
}
.caja-datos .datos{
    width: 100%;
    padding: 0.5em;
}
.pregunta p{
    text-decoration: none;
}
.boton button{
    color: white;
    background-color: black;
    border: none;
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: .3s ease all;
}
.boton button:hover{
    background: #141414;
}
/*----- Aplicando css a media desktop-----*/
@media (min-width: 768px){
    .contenedor{
        width: 50%;
        margin: auto;
    }
}