@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*=== css global===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;   
    background-color: white;

}

img {
    width: 100%;
    object-fit: cover;
}
h3 {
    font-size: 24px;
}

.nombreUser{
  display: none;
}
header {
    background-color: #737373;
}
/*===CSS para el div.top-header=== */
header div.top-header {
    width: 100%;
    text-align: center;
    display: flex;
    padding-bottom: 20px;
}


header div.logo,
header .form {
    width: 50%;
}

.top-header a{
    text-decoration: none;
}
.logo {
    padding: 10px;
}

.text-sport{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bangers', cursive;
    display:inline-block;
    color: black;
    
}
.text-shop{
    font-size: 40px;
    font-weight: bolder;
    color: #4CAF50;
    font-family: 'Bangers', cursive;
    text-decoration: #4CAF50;
    
}

/*=== CSS para el header .form===*/
.form {
    width: 50%;
    margin: auto;
    padding: auto;
    display: flex;
}

.form input {
    padding-left: 10px;
    background-color: #FFF;
    border: 1px solid white;
    outline: none;
    width: 80%;
}

.submit {
    background-color: #FFF;
    border: 1px solid white;
    padding: 10px;
}

/*CSS icono del encabezado*/
.iconosEncabezado{
    display: flex;
    position: absolute;
    top: 11vh;
    right: 2vh;
    align-self: flex-end ;

}
.iconosEncabezado img{
    width: 65px;
    height: 50px;
    border-radius: 60%;
}
.iconosEncabezado i{
    color: black;
    margin-right: 10px;
    font-size: 50px;
}
.iconosEncabezado i:hover{
    font-size: 45px;
}


main {
    width: 100%;
    margin: 0 auto 2em;
}

/*CSS al nav*/

.header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 20%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #4CAF50;;
  }
  
  /* menu */
  .caja-title{
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .header .menu, .nav-menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  

  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 360px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


/*=== Aplicando CSS a la sección de productos===*/
article.producto a.boton {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.seccion-productos{
  width: 90vw;
    margin: 0 auto 2em;
}
.main-products{
    width: 90%;
    margin: auto;
   }
   .caja-img-productos {
    width: 84vw;
    height: 87vw;
    display: flex;
    justify-content: center;
}
.main-article{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-direction: column;
  
}
.productos{
  max-width: 100%;
}
.producto{
    padding-bottom: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
}
.productos article i{
  display: block;
    font-size: 25px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 25px;
}
.producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.price{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*=== Aplicando CSS  al carrusel===*/

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
}

/*=== CSS al footer ===*/
footer{
    padding-top: 1em;
    background-color: white;
    padding-bottom: 1.3em;
    text-align: center;
}
#pieDePagina{
    text-align: center;
    background-color: black;
    color: white;
}
footer p {
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 20px;
}
  
footer ul li a {
    color: white;
}
footer ul a:hover {
    text-decoration: underline
}
.spam ul a{
    text-decoration:  none;
   
}
.spam ul i {
    padding-right: 5px;
}
/*nav del login y register*/
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
  margin: auto;
}
nav ul a{
  color: black;
  font-weight: bolder;
}
nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.dropdownPerfil{
    display: block;
    background: black;
    text-decoration: none;
    transition: 330ms all ease-out;
    color: black;
    margin: auto;
}
.dropdownPerfil li a{
      color: white;
      margin: auto;
}
.dropdownPerfil li:hover{
  background-color: #4CAF50;
}
.dropdownPerfil li{
  padding: 0.9rem;
}
nav ul li ul{
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 330ms all ease-out;
    
}
.banner-buttom {
  display: none;
}




@media (min-width: 768px) {
  .nombreUser{
    display: inline;
  }
   .main-article{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
   }
   .main-products{
    width: 70%;
    margin: auto;
   }
    .top-header{
        height: 2%;
    }
    .logo {
        width: 25%;
        padding-left: 70px;
        
    }
    .form {
        margin: auto;
        padding: auto;
    }
    .iconosEncabezado {
        position: initial;
        margin: auto;
        padding: auto;
    }
    .iconosEncabezado i{
        color: black;
    }
    
    .iconosEncabezado .logoutIcon{
        padding-left: 20px;
    }
    
    

    .productos {
        max-width: 23%;
    }
    .banner-buttom {
        display: flex;
        margin-top: 5em;
        padding: 10px 57px 10px 10px;
    }
    .env{
      width: 50%;
    }
    .pag{
    width: 50%;
    }
    
    /*Css al nav*/
    .header{
        width: 100%;
        position: static;
    }

    .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu, .nav-menu {
        clear: none;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }
    /*CSS al footer*/
    #pieDePagina {
        display: flex;
        justify-content: space-around;
    }
    

    .spam ul {
        list-style: none;
        text-align: left;
    }
    
    .caja-img-productos{
      width: 18vw;
      height: 19vw;
      display: flex;
      justify-content: center;
    }
    

}