/*=== css global===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: white;

}

img {
    width: 100%;
}

h3 {
    font-size: 24px;
}


header {
    background-color: #737373;
}
/*===CSS para el div.top-header=== */
header div.top-header {
    width: 100%;
    text-align: center;
    display: flex;
    padding-bottom: 20px;
}


header div.logo,
header .form {
    width: 50%;
}

.top-header a{
    text-decoration: none;
}
.logo {
    padding: 10px;
}

.text-sport{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Bangers', cursive;
    display:inline-block;
    color: black;
    
}
.text-shop{
    font-size: 40px;
    font-weight: bolder;
    color: #4CAF50;
    font-family: 'Bangers', cursive;
    text-decoration: #4CAF50;
    
}

/*=== CSS para el header .form===*/
.form {
    width: 50%;
    margin: auto;
    padding: auto;
    display: flex;
}

.form input {
    padding-left: 10px;
    background-color: #FFF;
    border: 1px solid white;
    outline: none;
    width: 80%;
}

.submit {
    background-color: #FFF;
    border: 1px solid white;
    padding: 10px;
}

/*CSS icono del encabezado*/
.iconosEncabezado{
    display: flex;
    position: absolute;
    top: 11vh;
    right: 2vh;
    align-self: flex-end    ;
    font-size: 30px;
}
.iconosEncabezado .carritoIcon {
    margin-right: 20px;
}
.iconosEncabezado i{
    color: black;
}
.iconosEncabezado i:hover{
    font-size: 30px;
}
main {
    width: 90%;
    margin: 0 auto;
}
main h4{
    font-size: 20px;
    padding: 20px;
}
/*CSS al nav*/

.header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 20%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #4CAF50;;
  }
  
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 360px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


/*=== Aplicando CSS a la sección de productos===*/
article.producto a.boton {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.producto{
    padding-bottom: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 2%;
}
.producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.price{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*=== Aplicando CSS  al carrusel===*/

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
}

/*=== CSS al footer ===*/
footer{
    padding-top: 1em;
    background-color: white;
    padding-bottom: 1.3em;
    text-align: center;
}
#pieDePagina{
    text-align: center;
    background-color: black;
    color: white;
}
footer p {
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 20px;
}
  
footer ul li a {
    color: white;
}
footer ul a:hover {
    text-decoration: underline
}
.spam ul a{
    text-decoration:  none;
   
}
.spam ul i {
    padding-right: 5px;
}


@media (min-width: 768px) {
    .top-header{
        height: 2%;
    }
    .logo {
        width: 25%;
        padding-left: 70px;
        
    }

    .form {
        margin: auto;
        padding: auto;
    }
    .iconosEncabezado {
        position: initial;
        margin: auto;
        padding: auto;
        font-size: 35px;
    }
    .iconosEncabezado i{
        color: black;
    }
    
    .iconosEncabezado .carrito{
        padding-right: 5px;
    }
    .productos {
        display: flex;
    }

    .producto {
        margin-right: 2%;

    }
    /*Css al nav*/
    .header{
        width: 100%;
        position: static;
    }

    .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }


    .main-article {
        padding-bottom: 40px;
    }


    /*CSS al footer*/
    #pieDePagina {
        display: flex;
        justify-content: space-around;
    }
    

    .spam ul {
        list-style: none;
        text-align: left;
    }
    
}