<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<!-- /Head -->

<body>
        <!-- Header -->
        <%- include('partials/header') %>
        <!-- /Header -->

    <div class="detprod">

        <div class="subdet1">
            <img src="" alt="">
            
        </div>
        <div class="subdet2">
            <div class="det">
            <h1 id="nombre">Nombre del producto</h1>
            <p id="prod">ID Producto XXXXXXX</p>
            <h1 id="precio">$000.000</h1>
            
            </div>

            <div class="talle">

                <h2>Talle: </h2>

                <button id="uno">XS</button>
                <button id="dos">S</button>
                <button id="tres">M</button>
                <button id="cuatro">L</button>
                <button id="cinco">XL</button>
            </div>

            <div class="btncarrito">
                <button>Agregar al carrito</button>
            </div>
        </div>

        <div class="subdet3">
            <h1 id="titulo">Acerca del Producto</h1>
            <p id="subtex">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nostrum voluptas illum cupiditate enim voluptates explicabo id, rem debitis. Magni ad consequatur beatae ea doloremque iusto libero, rerum soluta dolores.</p>
            <h2 id="subt">Especificaciones</h2>

            <table>
                <tbody>
                    <tr>
                        <td><h2>Género</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Materiales</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Colores</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Modelo</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td><h2>Marca</h2></td>
                        <td>XXXXXX</td>
                        
                    </tr>
                </tbody>
            </table>


        </div>

    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- /Fototer -->
</body>

</html>