<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="topHeader">
        <figure class="logo">
            <img src="/images/logo.png" alt="Logo">
        </figure>
        <input type="text">
        <div class="iconosEncabezado">
            <ul class="">
                <li><a href="" class="fas fa-shopping-cart" style="color: black"></a></li>
                <li><a href="/login" class="fas fa-user" style="color: black"></a></li>
            </ul>
        </div>
    </div>
    <header class="encabezado">
        <nav class="menu">
                <ul class="opcionesMenu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
        </nav>
    </header>
    <main class="formulario">
        <div class="titulo">
            <p>Iniciar sesion</p>
        </div>
        <div class="botones">
            <div class="boton-izq">
                <ul>
                    <ol>Iniciar Sesion</ol>
                </ul>
            </div>
            <div class="boton-der">
                <ul>
                    <ol>Registrarme</ol>
                </ul>
            </div>
        </div>
        <div class="caja-datos">
            <p>Email</p>
            <input class="datos" type="email" name="email" id="email">
        </div>
        <div class="caja-datos">
            <p>Contraseña</p>
            <input class="datos" type="password" name="contraseña" id="contraseña">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Recordarme</label>
        </div>
        <div class="caja-datos">
            <p class="pregunta" style="color: #000000;"><a href="#">¿Olvidaste tu contraseña</a></p>
            <section>
                <input class="boton" type="submit" href="#" value="Iniciar sesion">
            </section>
        </div>
    </main>
    <footer class="piePagina">
        <div class="span">
            <p>ACERCA DE</p>
            <ul class="">
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Politicas de Privacidad</a></li>
                <li><a href="#">Terminos y Condiciones</a></li>
                <li><a href="#">Defensa del Consumidor</a></li>
            </ul>
        </div>
        <div class="span">
            <p>AYUDA</p>
            <ul class="">
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">¿Como comprar?</a></li>
                <li><a href="#">¿Como medir tu talle?</a></li>
                <li><a href="#">Pagos y promociones</a></li>
                <li><a href="#">Entregas</a></li>
            </ul>
        </div>
        <div class="redesSociales">
            <p>REDES SOCIALES</p>
            <ul class="">
                <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
                <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
                <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
            </ul>
        </div>
        <div class="span">
            <p>CENTRO DE ATENCION AL CLIENTE </p>
            <ul class="">
                <li><a href="#">Lunes a Viernes 9 a 20 hs</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">0000-0000-0000</a></li>
            </ul>
        </div>
        <!--ul class="redesSociales">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Linkedin</a></li>
    </ul-->
    </footer>
</body>

</html>