<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/login.css">
<!-- Head -->
<%- include('partials/head') %>
<!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
        <!-- /Header -->
            <main>
                <form action="/register" method="post" enctype="multipart/form-data" class="form-form">
                <div class="contenedor">
                    <div class="titulo">
                        <h2>Registrarme</h2>
                    </div>
                    <div class="botones">
                        <a href="/login" style="text-decoration: none;"><div class="boton-izq">
                            <p>Inicio Sesion</p>
                        </div></a>
                        <a href="/register" style="text-decoration: none;"><div class="boton-der">
                            <p>Registrarme</p>
                        </div></a>
                    </div>
                    <div class="caja-datos">
                        <p>Nombre</p>
                        <input class="datos" type="text" name="nombre" id="nombre">
                    </div>
                    <div class="caja-datos">
                        <p>Email</p>
                        <input class="datos" type="email" name="email" id="email">
                        <% if(locals.errors && errors.email){ %>
                            <div class="text-danger" style="color: red;">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="caja-datos">
                        <p>Foto USuario: </p>
                        <input type="file" name="foto" class="datos" >
                    </div>
                    <div class="caja-datos">
                        <p>Contraseña</p>
                        <input class="datos" type="password" name="contraseña" id="contraseña">
                    </div>
                    <div class="caja-datos">
                        <p>Pais</p>
                        <input class="datos"  type="text"name="country" required class="control">
                    </div>
                    
                    <div class="caja-datos">
                        <div class="boton">
                            <button type="submit" href="#"><span>Crear mi cuenta</span></button>
                        </div>
                    </div>
                </div>
            </form>
            </main>
            <!-- Footer -->
	        <%- include('partials/footer') %>
	        <!-- /Fototer -->
    </body>

</html>