<footer id="pieDePagina">
    <div class="spam">
        <p>ACERCA DE</p>
        <ul class="">
        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Politicas de Privacidad</a></li>
        <li><a href="#">Terminos y Condiciones</a></li>
        <li><a href="#">Defensa del Consumidor</a></li>
        </ul>
    </div>
    <div class="spam">
        <p>AYUDA</p>
        <ul class="">
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">¿Como  comprar?</a></li>
            <li><a href="#">¿Como medir tu talle?</a></li>
            <li><a href="#">Pagos y promociones</a></li>
            <li><a href="#">Entregas</a></li>
            </ul>
    </div>
    <div class="spam">
        <p>REDES SOCIALES</p>
        <ul class="">
            <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
            <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
            <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
            </ul>
    </div>
    <div class="spam">
        <p>CENTRO DE ATENCION AL CLIENTE </p>
        <ul class="">
            <li><a href="#">Lunes a Viernes 9 a 20 hs</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">0000-0000-0000</a></li>
            </ul>
    </div>
</footer>