<header >
    <div class="top-header">
        <a href="/"><div class="logo"> 
            <p class="text-sport">SPORT</p>
            <p class="text-shop">SHOP</p>
    </div></a>
        <div class="form" action="#" method="GET">
            <input type="text" placeholder="Buscar productos, marcas y mas ">
            <!--input class="input">Buscar productos, marcas y más</input-->
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <div class="iconosEncabezado">
            <a href="/productCart"><i class="fas fa-shopping-cart carritoIcon"></i></a>
            <a href="/login"><i class="fas fa-user"></i></a>
        </div>
    </div>
    <div class="header">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="/agregar-producto">Categorias</a></li>
          <li><a href="#">Hombre</a></li>
          <li><a href="#">Mujer</a></li>
          <li><a href="#">Zapatillas</a></li>
          <li><a href="#">Marcas</a></li>
          <li><a href="#">Ofertas</a></li>
        </ul>
    </div>

</header>